
.row
  .col-4.offset-4.border
    %h2 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      - flash.each do |type, msg|
        %div{:class => "alert alert-#{type == :notice ? "success" : type} fadeout", "data-dismiss" => "alert"}
          %button.close &times;
          = msg if msg.is_a?(String)
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
      .form-group
        = f.label "Citizen ID"
        = f.text_field :citizen_id, class: 'form-control'
      .form-group
        = f.label "username"
        = f.text_field :login, class: 'form-control'
      .form-group
        = f.label "Type"
        = f.select :role, options_for_select(User.roles), {include_blank: 'Select'},{ class: 'form-control' , onchange: 'display_fields(this)'}
      .form-group.hidden.student-fields
        = f.label :student_identity
        = f.text_field :student_id, class: 'form-control'
      .form-group.hidden.instructor-fields
        = f.label "instructor_identity"
        = f.text_field :instructor_id, class: 'form-control'
      .form-group.hidden.instructor-fields
        = f.label :department_name
        = f.text_field :department_name, class: 'form-control'
      .form-group
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: 'form-control'
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
      .actions
        = f.submit "Sign up", class: 'btn btn-primary float-right mt-3'

:javascript
  function display_fields(element){
      var val = $(element).val();
      if(val == "Student"){
        $('.instructor-fields').addClass('hidden');
        $('.student-fields').removeClass('hidden');
      }else if (val == "Instructor"){
        $('.student-fields').addClass('hidden');
        $('.instructor-fields').removeClass('hidden');
      }else{
        $('.instructor-fields').addClass('hidden');
        $('.student-fields').addClass('hidden');
      }
    }