
.row
  .col-4.offset-4.border
    %h2 User Form
    = form_for(@user) do |f|
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
      .form-group
        = f.label "username"
        = f.text_field :login, class: 'form-control'
      .form-group.hidden.student-fields
        = f.label :student_id
        = f.text_field :student_id, class: 'form-control'
      .form-group.hidden.instructor-fields
        = f.label "Instructor ID"
        = f.text_field :instructor_id, class: 'form-control'
      .form-group.hidden.instructor-fields
        = f.label :department_name
        = f.text_field :department_name, class: 'form-control'
      .actions
        = f.submit "Update", class: 'btn btn-primary float-right mt-3 mb-3'